<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div claas="navbar-brand" style="color:white;">Suman's Todo</div>

        <ul class="navbar-nav">
            <li><a *ngIf="(harcodedAuth.isUserLoggedIn())" routerLink="/welcome/Suman" class="nav-link">Home</a></li>
            <li><a *ngIf="(harcodedAuth.isUserLoggedIn())" routerLink="/todo" class="nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="(!harcodedAuth.isUserLoggedIn())" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="(harcodedAuth.isUserLoggedIn())" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>